In [1]:
from   astroplan import moon
from   astropy import time
from   astropy.io import ascii
from   astropy import table
import pandas as pd
import numpy as np

In [2]:
# URL to the NOT observing calendar

In [3]:
url = r'http://www.not.iac.es/observing/schedules/schedule.php?period=65&k=&output=html&prn=yes'

In [4]:
# Retrieve the calendar

In [5]:
tables = pd.read_html(url)
schedule = table.Table.from_pandas(tables[0])
schedule[:5]

<Table length=5>
Start Date (Noon) End Date (Noon) ...  Instrument            Remarks
       str6             str6      ...    str14                str61
----------------- --------------- ... ------------ ----------------------------
           Apr 01          Apr 02 ... ALFOSC +FIES Time critical 5.7hr: Service
           Apr 01          Apr 02 ... ALFOSC +FIES  Remainder of night: Service
           Apr 02          Apr 03 ... ALFOSC +FIES                      Service
           Apr 03          Apr 05 ...       ALFOSC                           --
           Apr 05          Apr 06 ... ALFOSC +FIES                           --

In [6]:
# Identifying the relevant nights

In [7]:
mask_service   = np.where(schedule['Programme'] == 'Nordic service time')[0]
mask_technical = np.where(schedule['Programme'] == 'Technical time')[0]
mask_union     = np.union1d(mask_service, mask_technical)

In [8]:
# Return the useful observing nights

In [9]:
keys = ['Start Date (Noon)', 'End Date (Noon)', 'Instrument', 'Remarks', 'Programme']
good_nights = schedule[keys][mask_union]
good_nights[-5:]

<Table length=5>
Start Date (Noon) End Date (Noon) ...      Programme
       str6             str6      ...        str116
----------------- --------------- ... -------------------
           Sep 19          Sep 21 ... Nordic service time
           Sep 21          Sep 22 ... Nordic service time
           Sep 27          Sep 28 ... Nordic service time
           Sep 29          Sep 30 ... Nordic service time
           Sep 30          Oct 01 ...      Technical time

In [10]:
# Output calendar

In [11]:
year_start = '2022'
year_end   = '2022'

months_year_start = ['Oct', 'Nov', 'Dec']
months_year_end = ['Jan', 'Feb', 'Mar', 'Apr', 'Jun', 'Jul', 'Aug', 'Sep']

month_number = {'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 'May': '05', 'Jun': '06', 'Jul': '07', 'Aug': '08', 'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'}

In [12]:
obs_run = table.Table(names=('Start date', 'Start Time', 'End Date', 'End Time', 'Subject'), dtype=('S100', 'S100', 'S100', 'S100', 'S1000'))

for i in range(len(good_nights)):
    
    month, day = good_nights[i]['Start Date (Noon)'].split(' ')
    date       = year_start + '-' + month_number[month] + '-' + day + 'T12:00:00' if month in months_year_start else year_end + '-' + month_number[month]  + '-' + day + 'T12:00:00'
    date       = time.Time(date, format='isot', scale='utc')
    
    tstart     = date
    
    month, day = good_nights[i]['End Date (Noon)'].split(' ')
    date       = year_start + '-' + month_number[month] + '-' + day + 'T12:00:00' if month in months_year_start else year_end + '-' + month_number[month]  + '-' + day + 'T12:00:00'
    date       = time.Time(date, format='isot', scale='utc')
    
    tend       = date
    
    moon_illum = np.round(moon.moon_illumination(tstart, ephemeris=None), 2)
    
    instrument  = good_nights[i]['Instrument']
    remarks     = good_nights[i]['Remarks']
    night_type  = good_nights[i]['Programme']
    
    description = 'Instrument(s): ' + instrument + '; moon illumination: ' + str(moon_illum)
    
    # Fetch the nights when ALFOSC is mounted

    if 'ALFOSC' in instrument:
        #print( tstart, tend, moon_illum, instrument, night_type, remarks)
        obs_run.add_row([tstart.iso.split(' ')[0], tstart.iso.split(' ')[1] + ' PM', tend.iso.split(' ')[0], tend.iso.split(' ')[1] + ' PM', night_type + ' (' + description + ')'])

In [13]:
ascii.write(obs_run, 'NOT_obsrun_P65.csv', format='csv', overwrite=True)

In [14]:
obs_run#[20:]

<Table length=78>
Start date ...
 bytes100  ...
---------- ...
2022-04-01 ...
2022-04-02 ...
2022-04-06 ...
2022-04-07 ...
2022-04-08 ...
2022-04-09 ...
2022-04-10 ...
2022-04-11 ...
2022-04-14 ...
2022-04-18 ...
       ... ...
2022-08-26 ...
2022-08-27 ...
2022-09-03 ...
2022-09-12 ...
2022-09-16 ...
2022-09-18 ...
2022-09-19 ...
2022-09-27 ...
2022-09-29 ...
2022-09-30 ...